@import "bootstrap/less/variables";

.table-wrapper {
  table {
    > thead {
      > tr {
        > th {
          &.sortable {
            cursor: pointer;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          &.clickable {
            cursor: pointer;
          }
        }
      }
    }
  }

  .pagination {
    > li {
      &.current {
        > a {
          background-color: @gray-lighter;
        }
      }

      > a {
        min-width: 50px;
        text-align: center;
      }
    }
  }
}
