@import "bootstrap/less/variables";

.table-wrapper {
  .pagination {
    > li {
      &.current {
        > a {
          background-color: @gray-lighter;
        }
      }

      > a {
        min-width: 50px;
        text-align: center;
      }
    }
  }
}
