@import "bootstrap/less/variables";

.table-wrapper {
  .filter {
    .reset-button {
      margin-left: 7px;
    }
  }

  .reset-button {
    cursor: pointer;
  }

  .pagination {
    > li {
      &.current {
        > a {
          background-color: @gray-lighter;
        }
      }

      > a {
        min-width: 50px;
        text-align: center;
      }
    }
  }
}
